@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-primary: 'Orbitron', sans-serif;
    --font-secondary: 'Space Grotesk', sans-serif;
    --primary-theme: #0079D4;
    --text-black: #000;
    --dim-white: #ffffff61;
    --para-white: #ffffffc7;
    --breakpoint-xxl: 100rem;
}

